
<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="card margin-y">
  <div class="card-divider grid-x">
    <a class="small-6" onclick="commentBox({{post_id}})">Title</a>
    <div class="small-6 text-right date">Posted by {{post.user.user_name}} on {{format_date post.date_created}}</div>
  </div>
  <div class="card-section">
    <p>{{post.content}}</p>
  </div>
</div>

{{#each post.comments }}
<div class="card margin-y">
  <div class="card-section">
    <p>{{comment}}</p>
    <p>~{{user.user_name}}, {{format_date date_created}}</p>
  </div>
</div>
{{/each}}

<div id={{post_id}}></div>

{{/each}}




<div class="card margin-y">
  <div class="card-section cell">
    <div class="grid-x">
      <div class="large-12 cell">
        <input class="textbox-border" type="text">
      </div>
      <br>
      <div class="expanded button-group">
        <a class="secondary button button-shape">Submit</a>
      </div>
    </div>
  </div>

</div>

<h1 id="orest"></h1>

<script src="./js/homepage.js"></script>